
.main-form {
    width:365px;
    max-width: 365px;
    display: flex;
    flex-direction: column;
    align-items: center;
     background: #3A4264;
     padding: 25px 25px 0;
}

.guess-button {
    width: 100%;
    margin: 25px 0;
    font-size: 25px;
    background: #1F253D;
    border:none;
    color: #95A5A6;
    border-radius: 5px;

}

.guess-button, .main-form input {
    padding: 10px;
    background: #50597B;
    color: #95A5A6;
    font-size: 25px;
    text-align: center;
    border: none;
    border-radius: 5px;
}



.big-number {
   color: orange;
   font-size: 30px;
   font-weight: bold;
}

.main-form p {
    font-size: 25px;
}
