* {
    box-sizing: border-box;
    
}

body {
    background: #1F253D;
}

#root {
    display: flex;
    justify-content: center;
    max-width: 100%;
    
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    min-width: 365px;
    max-width: 100%;
}

